version: "3.8"

services:
  db:
    container_name: db
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    container_name: api
    build: .
    restart: always
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "${DATABASE_URL}"
      ENVIRONMENT: "${ENVIRONMENT}"
      RUN_SEEDING: "${RUN_SEEDING}"
    depends_on:
      - db
    volumes:
      - .:/api

volumes:
  db_data:
